.container-principal {
    padding: 1rem 2rem;
}

.icone-de-imagem {
  border-radius: 50%;
  height: 45px;
}

.container-de-navegacao {
  background-color: #252525;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #CBDFBD;
  text-transform: uppercase;
  font-size: 1.2em;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}


/* formulario */
.form {
  flex: 1;
  gap: 1.2rem;
}

/* inputs */
.input-group-form {
  height: 3.2rem;
  border-radius: 10px;
  padding: 0 .5rem;
  font-size: 1.2rem;
  border: none;
}

/* placeholder de input*/
.input-group-form::placeholder {
  color: #06060677;
}

@media (max-width: 700px) {
  .container-principal {
    padding: .8rem 1rem;
  }
}